[submodule "vendor/prototype"]
	path = vendor/prototype
	url = https://github.com/sstephenson/prototype.git
[submodule "vendor/scriptaculous"]
	path = vendor/scriptaculous
	url = https://github.com/madrobby/scriptaculous.git
